{%extends 'AppConoce/index.html' %}
{%load static%}

{%block content%}
<div id="projects" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title"> MUSEOS</div>
                    <h2>Museos que tienes que visitar en la CDMX </h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                   
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Dirección: Blvd. Miguel de Cervantes Saavedra 303, Granada, Miguel Hidalgo, 11520 Ciudad de México,CDMX</span></div><img src="{% static 'AppConoce/images/Jumex.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span>Dirección: Londres 247, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Frida.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Dirección: Av. Paseo de la Reforma s/n, Polanco, Bosque de Chapultepec I Secc, Miguel Hidalgo, 11560 Ciudad de México,CDMX</span></div><img src="{% static 'AppConoce/images/Antropologia.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>Dirección: Av. Juárez S/N, Centro Histórico de la Cdad. de México, Centro, Cuauhtémoc, 06050 Ciudad de México,CDMX</span></div><img src="{% static 'AppConoce/images/Bellasartes.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Dirección: Universidad Nacional Autónoma de México, Ciudad Universitaria, Cto. Centro Cultural de, C.U., Coyoacán,CDMX</span></div><img src="{% static 'AppConoce/images/Universum.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Dirección: Justo Sierra 16, Centro Histórico de la Cdad. de México, Centro, 06020 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Ildelfonso.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>Dirección: Londres núm. 6, Juárez, Cuauhtémoc, 06600 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Cera.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Dirección: Museo 150, San Pablo Tepetlapa, Coyoacán, 04620 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Diego.png' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span></span></div><img src="{% static 'AppConoce/images/Tlatelolco.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Dirección: Av. Ricardo Flores Magón 1, Tlatelolco, Cuauhtémoc, 06995 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Mezcal.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Dirección: Plaza Garibaldi s/n, Centro, Cuauhtémoc, 06010 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Papalote.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Dirección: Blvd. Miguel de Cervantes Saavedra, Granada, Miguel Hidalgo, 11529 Ciudad de México, CDMX</span></div><img src="{% static 'AppConoce/images/Soumaya.jpg' %}" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div>
    {%endblock%}