{%extends 'AppConoce/index.html' %}
{%load static%}

{%block content%}
<div id="projects" class="filter">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title"> ZONAS ARQUEOLÓGICAS </div>
                    <h2>zonas Arqueológicas que debes visitar😱😍 </h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    <!-- Filter -->
                   
                    <div class="grid">
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Chichen-Itzá una de las siete maravillas del mundo moderno de acuerdo con el sitio New7wonders.

                               </span></div><img src="{% static 'AppConoce/images/chichenitza1.png' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-2"><div class="element-item-overlay"><span> Los gigantes o atlantes de Tula son esculturas muy altas representando guerreros.</span><span>""</span></div><img src="{% static 'AppConoce/images/tula.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-3"><div class="element-item-overlay"><span>Es un asentamiento localizado en el municipio jalisciense de Teuchitlán que se caracteriza por su peculiar estilo arquitectónico.</span></div><img src="{% static 'AppConoce/images/guachimontones3.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing">
                            <a class="popup-with-move-anim" href="#project-4"><div class="element-item-overlay"><span>En medio de la reserva de la biósfera se encuentra la zona arqueológica que significa dos montículos adyacentes. </span></div><img src="{% static 'AppConoce/images/calakmul2.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design development marketing seo">
                            <a class="popup-with-move-anim" href="#project-5"><div class="element-item-overlay"><span>Chinkultic se localiza a aproximadamente 49 km al este de Comitán de Domínguez, siguiendo por las carreteras núm. 190 y 307.</span></div><img src="{% static 'AppConoce/images/chinkultic3.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing seo">
                            <a class="popup-with-move-anim" href="#project-6"><div class="element-item-overlay"><span>Chalcatzingo es un yacimiento arqueológico localizado en el valle de Morelos, en el estado mexicano homónimo.</span></div><img src="{% static 'AppConoce/images/chacatzingo1.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-7"><div class="element-item-overlay"><span>El Meco está localizado en la costa norte de Quintana Roo, justo en la bahía de Isla Mujeres, por ello tuvo un papel relevante en la ruta de navegación maya</span></div><img src="{% static 'AppConoce/images/meco1.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item design marketing">
                            <a class="popup-with-move-anim" href="#project-8"><div class="element-item-overlay"><span>Paquimé, se ubica en el estado de Chihuahua, una cultura que se adaptó a luchar y sobrevivir en la gran extensión del desierto chihuahuense.</span></div><img src="{% static 'AppConoce/images/paquime1.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>La Quemada representa el asentamiento monumental más relevante en el centro norte de México por su arquitectura.</span></div><img src="{% static 'AppConoce/images/quemada1.png' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>es una zona arqueológica localizada en el municipio de Nativitas, en el sur del estado mexicano de Tlaxcala.​</span></div><img src="{% static 'AppConoce/images/xochitecatl1.png' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Yaxchilán es una antigua ciudad de la Cultura Maya situada en la orilla del Río Usumacinta, en lo que hoy es el municipio de Ocosingo del estado de Chiapas en México.</span></div><img src="{% static 'AppConoce/images/yaxchilan1.jpg' %}" alt="alternative"></a>
                        </div>
                        <div class="element-item development">
                            <a class="popup-with-move-anim" href="#project-1"><div class="element-item-overlay"><span>Teotihuacán es un amplio complejo arqueológico mexicano al noreste de la Ciudad de México. </span></div><img src="{% static 'AppConoce/images/teoti1.jpg' %}" alt="alternative"></a>
                        </div>
                    </div> <!-- end of grid -->
                    <!-- end of filter -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
		</div> <!-- end of container -->
    </div>
    {%endblock%}